* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

h1 {
    color: white;
}

.ball {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 1em auto;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    transition: width 1s, height 1s;
}

.ball1 {
    background-color: darkmagenta;
}

.ball2 {
    background-color: indianred;
}

.ball3 {
    background-color:forestgreen;
}

.ball4 {
    background-color:aquamarine;
}