* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

h1 {
    color: white;
}

.ball {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color:darkmagenta;
    margin: auto;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    transition: width 1s, height 1s;
}